.todo__alert--success {
  color: #0f5132;
  border-color: #badbcc;
  background-color: #d1e7dd;
  padding: 15px 20px;
}

.todo__alert--danger {
  color: #842029;
  border-color: #f5c2c7;
  background-color: #f8d7da;
  padding: 10px 0;
}

.todo-alert--danger ul {
  margin: 0;
}


.todo__content {
  max-width: 1230px;
  margin: 30px auto;
}

.section__title {
  margin: 0 auto;
  width: 70%;
}

.create-form,
.search-form {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.create-form__item,
.search-form__item {
  display: flex;
  width: 70%;
}

.create-form__item-input,
.search-form__item-input {
  width: 70%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 10px;
}

.create-form__item-select,
.search-form__item-select {
  width: 30%;
  padding: 5px;
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.create-form__button,
.search-form__button {
  width: 20%;
}

.create-form__button-submit,
.search-form__button-submit {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.todo-table {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}

.todo-table__inner {
  width: 100%;
}

.todo-table__row {
  border-bottom: 1px solid #ddd;
}

.todo-table__header {
  width: 20%;
  font-weight: bold;
  text-align: left;
  padding: 12px;
}

.todo-table__header--span {
  margin-right: 40%;
}

.todo-table__item:first-of-type {
  width: 90%;
}

.update-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-form__item {
  width: 40%;
}

.update-form__item-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}

.update-form__item-p {
  font-size: 14px;
  text-align: left;
}

.update-form__button {
  width: 50px;
}

.update-form__button-submit {
  width: 100%;
  background-color: #0000ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.delete-form__button {
  width: 50px;
}

.delete-form__button-submit {
  width: 100%;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}